.wrapper {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.location {
    display: flex;
    gap: 5px;
}

.location__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

.location__button {
    width: 30%;
    color: #fff;
    background-color: #33cccc;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.weather-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.weather-card__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weather-card__city-name {
    font-size: 24px;
    font-weight: bold;
}

.weather-card__temperature {
    font-size: 20px;
    color: #33cccc;
}

.weather-card__additional-weather-data {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cntr {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.icon__image {
    width: 150px;
    height: 150px;
}

.weather-card__addit-image {
    width: 16px;
    height: 16px;
}

/* Медиа-запросы для различных устройств */
@media (max-width: 600px) {
    .wrapper {
        max-width: 400px;
    }

    .location__button {
        width: 40%;
    }
}

@media (max-width: 400px) {
    .wrapper {
        max-width: 300px;
        padding: 10px;
    }

    .location__button {
        width: 50%;
    }

    .weather-card__city-name {
        font-size: 20px;
    }

    .weather-card__temperature {
        font-size: 16px;
    }
}
